
.address-label {
  border: 3px solid #ccc;
  width: 760px;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
  padding: 15px;
  font-size: 14px;
  font-family: "Helvetica" sans-serif Arial;
  position: relative;
}

.sender-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.receiver-address {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 60px;
}

.postage-stamp {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.stamp-image {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-left: auto;
}
.name, .street, .state {
  font-weight: bold;
}